.table-fixed {
    table-layout: fixed;
}

.left-menu {
    width: 10rem;
}

.left-menu button {
    text-align: left;
    font-weight: bold;
    color: #333333;
}

.btn-width {
    width: 3rem;
    text-align: end;
}

.table-rounded td {
    border-bottom-width: 0;
}

.table-rounded td:first-child {
    border-radius: 10px 0 0 10px;
}

.table-rounded td:last-child {
    border-radius: 0 10px 10px 0;
}
